# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
.venv/
*.egg-info/
.Python

# Jupyter Notebooks
.ipynb_checkpoints

# Large data files -- to keep the repo < 50 mbs
*.csv
*.rds
*.xlsx
*.tiff
*.tif
