# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
.venv/
*.egg-info/
.Python

# Jupyter Notebooks
.ipynb_checkpoints

# Large data files -- to keep the repo < 50 mbs
/data/
*.rds
*.xlsx
*.tiff
*.tif
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx


# Quarto and R stuff
/.quarto/
/_manuscript
.Rproj.user
*.Rproj
.Rhistory
